@using Teamroom.Web.Views
<style>
    header {
        color: white;
    }
</style>

<header>
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner">
            <div class="page-logo">
                <a href="index.html">
                    <img src="/images/logo.png" alt="logo" class="logo-default" />
                </a>
            </div>
            <div style="float: left;">
                <h3 class="page-title">
                    <span>@ViewBag.ProductName</span>
                </h3>
            </div>
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-bell"></i>
                            <span class="badge badge-default">
                                7
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <p>
                                    You have 14 new notifications
                                </p>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller" style="height: 250px;">
                                    <li>
                                        <a href="#">
                                            <span class="label label-sm label-icon label-success">
                                                <i class="fa fa-plus"></i>
                                            </span>
                                            New user registered. <span class="time">
                                                                     Just now
                                                                 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="label label-sm label-icon label-danger">
                                                <i class="fa fa-bolt"></i>
                                            </span>
                                            Server #12 overloaded. <span class="time">
                                                                       15 mins
                                                                   </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="label label-sm label-icon label-warning">
                                                <i class="fa fa-bell-o"></i>
                                            </span>
                                            Server #2 not responding. <span class="time">
                                                                          22 mins
                                                                      </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="label label-sm label-icon label-info">
                                                <i class="fa fa-bullhorn"></i>
                                            </span>
                                            Application error. <span class="time">
                                                                   40 mins
                                                               </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="label label-sm label-icon label-danger">
                                                <i class="fa fa-bolt"></i>
                                            </span>
                                            Database overloaded 68%. <span class="time">
                                                                         2 hrs
                                                                     </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="label label-sm label-icon label-danger">
                                                <i class="fa fa-bolt"></i>
                                            </span>
                                            2 user IP blocked. <span class="time">
                                                                   5 hrs
                                                               </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="label label-sm label-icon label-warning">
                                                <i class="fa fa-bell-o"></i>
                                            </span>
                                            Storage Server #4 not responding. <span class="time">
                                                                                  45 mins
                                                                              </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="label label-sm label-icon label-info">
                                                <i class="fa fa-bullhorn"></i>
                                            </span>
                                            System Error. <span class="time">
                                                              55 mins
                                                          </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="label label-sm label-icon label-danger">
                                                <i class="fa fa-bolt"></i>
                                            </span>
                                            Database overloaded 68%. <span class="time">
                                                                         2 hrs
                                                                     </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="external">
                                <a href="#">
                                    See all notifications <i class="m-icon-swapright"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END NOTIFICATION DROPDOWN -->
                    <!-- BEGIN INBOX DROPDOWN -->
                    <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-envelope-open"></i>
                            <span class="badge badge-default">
                                4
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <p>
                                    You have 12 new messages
                                </p>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller" style="height: 250px;">
                                    <li>
                                        <a href="inbox.html?a=view">
                                            <span class="photo">
                                                <img src="/images/avatar2.jpg" alt="" />
                                            </span>
                                            <span class="subject">
                                                <span class="from">
                                                    Lisa Wong
                                                </span>
                                                <span class="time">
                                                    Just Now
                                                </span>
                                            </span>
                                            <span class="message">
                                                Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="inbox.html?a=view">
                                            <span class="photo">
                                                <img src="/images/avatar3.jpg" alt="" />
                                            </span>
                                            <span class="subject">
                                                <span class="from">
                                                    Richard Doe
                                                </span>
                                                <span class="time">
                                                    16 mins
                                                </span>
                                            </span>
                                            <span class="message">
                                                Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="inbox.html?a=view">
                                            <span class="photo">
                                                <img src="/images/avatar1.jpg" alt="" />
                                            </span>
                                            <span class="subject">
                                                <span class="from">
                                                    Bob Nilson
                                                </span>
                                                <span class="time">
                                                    2 hrs
                                                </span>
                                            </span>
                                            <span class="message">
                                                Vivamus sed nibh auctor nibh congue nibh. auctor nibh auctor nibh...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="inbox.html?a=view">
                                            <span class="photo">
                                                <img src="/images/avatar2.jpg" alt="" />
                                            </span>
                                            <span class="subject">
                                                <span class="from">
                                                    Lisa Wong
                                                </span>
                                                <span class="time">
                                                    40 mins
                                                </span>
                                            </span>
                                            <span class="message">
                                                Vivamus sed auctor 40% nibh congue nibh...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="inbox.html?a=view">
                                            <span class="photo">
                                                <img src="/images/avatar3.jpg" alt="" />
                                            </span>
                                            <span class="subject">
                                                <span class="from">
                                                    Richard Doe
                                                </span>
                                                <span class="time">
                                                    46 mins
                                                </span>
                                            </span>
                                            <span class="message">
                                                Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh...
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="external">
                                <a href="inbox.html">
                                    See all messages <i class="m-icon-swapright"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END INBOX DROPDOWN -->
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown dropdown-user">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle hide1" src="@CurrentUser.Avatar" />
                                <span class="username username-hide-on-mobile">@CurrentUser.DisplayName</span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="extra_profile.html"><i class="icon-user"></i> My Profile</a>
                                </li>
                                <li>
                                    <a href="page_calendar.html"><i class="icon-calendar"></i> My Calendar</a>
                                </li>
                                <li>
                                    <a href="inbox.html"><i class="icon-envelope-open"></i> My Inbox <span class="badge badge-danger">3</span></a>
                                </li>
                                <li>
                                    <a href="page_todo.html">
                                        <i class="icon-rocket"></i> My Tasks <span class="badge badge-success">7</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="@Url.Action("LogOff","Account")"><i class="icon-key"></i> Log out</a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

                    }
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>

</header>
<div class="clearfix"></div>