@using HobbyClue.Web.ViewModels
@using Teamroom.Web.Views
@model HomePageViewModel

@{
    Layout = "~/Views/Shared/_TwoColumnLayout.cshtml";
}
    
<link rel="stylesheet" type="text/css" media="screen" href="../../Scripts/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
<style>
    .md-editor .md-footer {
        text-align: right;
    }

    .md-editor .btn-primary:hover, .md-editor .btn-primary:focus, .md-editor .btn-primary:active, .md-editor .btn-primary.active {
        background-color: #d64635;
    }
    .chats li .message .arrow, .chats li .message {
        border-color: #c6c6c6;
    }

    .chats li .message .state {
        background-color: #c6c6c6;
        color: white;
    }
</style>
@section pageHeader {
    <h3 class="page-title"> Dashboard <small>reports & statistics</small></h3>
}

<div class="row ">
    <div class="col-md-8 col-sm-8">
        <div id="questions">
            @AskAQuestionBox()
            <div>
                <div class="page-bar">
                    <div class="page-toolbar">
                        <div class="col-md-8" style="padding-left: 0;">
                            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                            <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
                            <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
                            <form method="POST">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn" style="visibility: hidden;">
                                        <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <!-- END RESPONSIVE QUICK SEARCH FORM -->
                        <div class="actions col-md-4" data-placement="top" style="text-align: right; padding-right: 0;">
                            <div class="btn-group pull-right">
                                <a href="" class="btn grey-steel btn-sm dropdown-toggle" style="font-size: 18px;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    Filter <span class="fa fa-angle-down">
                                    </span>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;">
                                            Newest <span class="label label-sm label-default"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Most active <span class="label label-sm label-default"></span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Unanswered <span class="label label-sm label-default"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <ul class="chats">
                    @Question("Problem with string manipulation or calling array with string manipulation", "/images/avatar1.jpg", "", "Bob Nilson", "20:09")
                    @Question("Export BACPAC Woes", "/images/avatar2.jpg", "", "Lisa Wong", "20:11")
                    @Question("New msgbox after old one finish", "/images/avatar1.jpg", "answered", "Bob Nilson", "20:30")
                    @Question("SQL installation", "/images/avatar3.jpg", "", "Richard Doe", "20:33")
                    @Question("Entity Framework and Package Manager Publishing to Azure", "/images/avatar1.jpg", "", "Bob Nilson", "20:09")
                    @Question("Getting the name of a background image from the image's container","/images/avatar2.jpg", "", "Lisa Wong", "20:11")
                    @Question("How to Employ Validation in a Windows 8.1 Store App", "/images/avatar1.jpg", "", "Bob Nilson", "20:30")
                    @Question("Problem with string manipulation or calling array with string manipulation", "/images/avatar1.jpg", "", "Bob Nilson", "20:09")
                    @Question("Export BACPAC Woes", "/images/avatar2.jpg", "", "Lisa Wong", "20:11")
                    @Question("New msgbox after old one finish", "/images/avatar1.jpg", "", "Bob Nilson", "20:30")
                    @Question("SQL installation", "/images/avatar3.jpg", "answered", "Richard Doe", "20:33")
                    @Question("Entity Framework and Package Manager Publishing to Azure", "/images/avatar1.jpg", "answered", "Bob Nilson", "20:09")
                    @Question("Getting the name of a background image from the image's container", "/images/avatar2.jpg", "answered", "Lisa Wong", "20:11")
                    @Question("How to Employ Validation in a Windows 8.1 Store App", "/images/avatar1.jpg", "answered", "Bob Nilson", "20:30")
                    @Question("Problem with string manipulation or calling array with string manipulation", "/images/avatar1.jpg", "answered", "Bob Nilson", "20:09")
                    @Question("Export BACPAC Woes", "/images/avatar2.jpg", "answered", "Lisa Wong", "20:11")
                    @Question("New msgbox after old one finish", "/images/avatar1.jpg", "answered", "Bob Nilson", "20:30")
                    @Question("SQL installation", "/images/avatar3.jpg", "answered", "Richard Doe", "20:33")
                    @Question("Entity Framework and Package Manager Publishing to Azure", "/images/avatar1.jpg", "answered", "Bob Nilson", "20:09")
                    @Question("Getting the name of a background image from the image's container", "/images/avatar2.jpg", "answered", "Lisa Wong", "20:11")
                    @Question("How to Employ Validation in a Windows 8.1 Store App", "/images/avatar1.jpg", "answered", "Bob Nilson", "20:30")
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    1349
                </div>
                <div class="desc">
                    Service Up
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
        <div class="portlet">
            <div class="portlet-title line">
                <div class="caption">
                    <i class="fa fa-comments"></i>Tweets
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                    <ul class="feeds">
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-info">
                                            <i class="fa fa-check"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">
                                            You have 4 pending tasks. <span class="label label-sm label-warning ">
                                                Take action <i class="fa fa-share"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date">
                                    Just now
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-success">
                                                <i class="fa fa-bar-chart-o"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
                                                Finance Report for year 2013 has been released.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        20 mins
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-danger">
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">
                                            You have 5 pending membership that requires a quick review.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date">
                                    24 mins
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-info">
                                            <i class="fa fa-shopping-cart"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">
                                            New order received with <span class="label label-sm label-success">
                                                Reference Number: DR23923
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date">
                                    30 mins
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-success">
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">
                                            You have 5 pending membership that requires a quick review.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date">
                                    24 mins
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-default">
                                            <i class="fa fa-bell-o"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">
                                            Web server hardware needs to be upgraded. <span class="label label-sm label-default ">
                                                Overdue
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date">
                                    2 hours
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-default">
                                                <i class="fa fa-briefcase"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
                                                IPO Report for year 2013 has been released.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        20 mins
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-info">
                                            <i class="fa fa-check"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">
                                            You have 4 pending tasks. <span class="label label-sm label-warning ">
                                                Take action <i class="fa fa-share"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date">
                                    Just now
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-danger">
                                                <i class="fa fa-bar-chart-o"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
                                                Finance Report for year 2013 has been released.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        20 mins
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-default">
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">
                                            You have 5 pending membership that requires a quick review.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date">
                                    24 mins
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-info">
                                            <i class="fa fa-shopping-cart"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">
                                            New order received with <span class="label label-sm label-success">
                                                Reference Number: DR23923
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date">
                                    30 mins
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-success">
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">
                                            You have 5 pending membership that requires a quick review.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date">
                                    24 mins
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-warning">
                                            <i class="fa fa-bell-o"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">
                                            Web server hardware needs to be upgraded. <span class="label label-sm label-default ">
                                                Overdue
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date">
                                    2 hours
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-info">
                                                <i class="fa fa-briefcase"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
                                                IPO Report for year 2013 has been released.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        20 mins
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="scroller-footer">
                    <div class="btn-arrow-link pull-right">
                        <a href="#">See All Records</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                

@helper AskAQuestionBox()
{
    <div style="margin-bottom: 15px;">
        <textarea id="askaquestioneditor" name="content" rows="10" style="display: none;"></textarea>
        <div id="askaquestionsection" class="chat-form">
            <div class="input-cont">
                <input id="askaquestion" class="form-control" type="text" placeholder="Ask a question..." />
            </div>
            <div class="btn-cont">
                <span class="arrow"></span>
                <a href="javascript:;" class="btn blue icn-only"><i class="fa fa-question icon-white"></i></a>
            </div>
        </div>
    </div>
}


@helper Question(string question,string avatarUrl, string status, string username, string date)
{
    <li class="in @status">
        <div>
            <img class="avatar" alt="" src="@avatarUrl" />
            <div class="message">
                <span class="arrow"></span>
                <div>
                    <div class="state" style="padding-right: 5px;">
                        @if (status == "answered")
                        {
                            <i class="fa fa-check" style="font-size: 25px;"></i>
                        }
                        else
                        {
                            <i class="fa fa-question" style="font-size: 25px;"></i>
                        }
                    </div>
                    <div style="display: table-cell; width: 100%;padding: 0 10px;">
                        <div style="font-size: 13px;">
                            <a href="#" class="name">
                                @username
                            </a>
                            <span class="datetime">
                                at @date
                            </span>
                            <span class="pull-right">
                                0 Replies | 2036 Views
                            </span>
                        </div>
                        <div>
                            <p style="font-weight: 700;color: #578ebe;">@question</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
}

@section scripts {
    <script src="~/Scripts/plugins/bootstrap-markdown/lib/markdown.js"></script>
    <script src="~/Scripts/plugins/bootstrap-markdown/js/bootstrap-markdown.js"></script>
    <script src="~/Scripts/plugins/bootstrap-markdown/locale/bootstrap-markdown.fr.js"></script>
    
    <script>
        $(document).ready(function() {
            $("#askaquestionsection").click(function() {
                var askSection = $(this);
                $("#askaquestioneditor").show().markdown({
                    autofocus: true,
                    savable: true,
                    hideable: false,
                    onShow: function (e) {
                        askSection.hide();
                        var editorControls = $('.md-controls');
                        $(editorControls).empty();
                        var closeElement = $('<a/>').appendTo(editorControls);
                        $(closeElement).attr('href', 'javascript:;').append('<span class="closeEditor"> Close </span>');
                        $('.md-footer > .btn.btn-success', '.md-editor ').text('Post');

                        $('.closeEditor').on('click', function() {
                            $('.md-editor').hide();
                            e.$editor.removeClass('active');
                            askSection.show();
                        });

                        askSection.unbind('click').click(function () {
                            askSection.hide();
                            $('.md-editor').show();
                            e.$textarea.focus();
                            e.$editor.addClass('active');
                        });
                    }
                });
                
            });
        });


    </script>
}

